@model Home

@{
    ViewData["Title"] = "Home Page";
}


@*<div class="d-flex gap-4 flex-wrap">
    <div class="card border-warning mb-3 border-2 dashboard-count-flex">
        <div class="card-header d-flex justify-content-around fw-bolder fs-3"><span>Mercadorias</span><span>@Model.Mercadorias.Count</span></div>
    </div>
    <div class="card border-danger mb-3 border-2 dashboard-count-flex">
        <div class="card-header fw-bolder d-flex justify-content-around fs-3"><span>Saidas</span><span>@Model.Saidas.Count</span></div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-4 pt-5">
        <div class="card border-warning mb-3 border-2 dashboard-count-flex">
            <div class="card-header fw-bolder d-flex justify-content-around fs-3"><span>Mercadorias</span><span>@Model.Mercadorias.Count</span></div>
        </div>
    </div>
    <div class="col-md-8">
        <canvas id="chartMercadorias"></canvas>
    </div>
    <hr class="my-4" />
    <div class="col-md-12 pt-5">
        <div class="card border-success mb-3 border-2 dashboard-count-flex">
            <div class="card-header fw-bolder d-flex justify-content-around fs-3"><span>Entradas</span><span>@Model.Entradas.Count</span></div>
        </div>
    </div>
    <div class="col-md-6">
        <canvas id="chartEntradasPorMes"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="chartEntradasPorMercadoria"></canvas>
    </div>
    <hr class="my-4" />
    <div class="col-md-12 pt-5">
        <div class="card border-danger mb-3 border-2 dashboard-count-flex">
            <div class="card-header fw-bolder d-flex justify-content-around fs-3"><span>Saida</span><span>@Model.Saidas.Count</span></div>
        </div>
    </div>
    <div class="col-md-6">
        <canvas id="chartSaidasPorMes"></canvas>
    </div>  
    <div class="col-md-6">
        <canvas id="chartSaidasPorMercadoria"></canvas>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const ctxMercadoria = document.getElementById('chartMercadorias');
        const ctxEntradaPorMes = document.getElementById('chartEntradasPorMes');
        const ctxEntradaPorMercadoria = document.getElementById('chartEntradasPorMercadoria');  
        const ctxSaidaPorMes = document.getElementById('chartSaidasPorMes');
        const ctxSaidaPorMercadoria = document.getElementById('chartSaidasPorMercadoria');
       

        function renderChart(ctx, data, color, text) {
            return new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.label,
                    datasets: [{
                        label: text,
                        data: data.data,
                        borderWidth: 2,
                        backgroundColor: color
                    }]
                },
                responsive: true,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function buscarDadosDashboard() {
            var url = window.location.origin;
            $.ajax({
                type: 'Get',
                url: `${url}/dashboard`,
                dataType: 'json',
                success: function (data) {

                    renderChart(ctxMercadoria, data.mercadoria, '#ffc107', 'Mercadorias');
                    renderChart(ctxEntradaPorMes, data.entrada.porMes, '#198754', 'Por Mês');
                    renderChart(ctxEntradaPorMercadoria, data.entrada.porMercadoria, '#198754', 'Por Mercadorias');
                    renderChart(ctxSaidaPorMes, data.saida.porMes, '#dc3545', 'Por Mês');
                    renderChart(ctxSaidaPorMercadoria, data.saida.porMercadoria, '#dc3545', 'Por Mercadorias');

                },
                error: function () {
                    alert('Ocorreu um erro na requisição.');
                }
            });

        }

        $(document).ready(function () {
            buscarDadosDashboard()
        });

    </script>
}