@model LEKSupply.Models.Saida

@{
    ViewData["Title"] = "Deletar";
}
<div class="d-flex align-items-center gap-2">
    <a asp-action="Index"><i class="fa-solid fa-circle-chevron-left text-secondary fs-3"></i></a>
    <h4 class="title">@ViewData["Title"] Saida</h4>
</div>

<hr />

<div>
    <h4>Saida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
  @*      <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMercadoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMercadoria)
        </dd>
    </dl>
    
    <form asp-action="Deletar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
    </form>
</div>
